<footer id="colophon" role="contentinfo">
    <div id="site-generator">

                

        &copy; Administratiekantoor Henk Roor                - Powered by <a href="http://wordpress.org/" title="Semantic Personal Publishing Platform">WordPress.</a>
                 | <span>
            Website & Wordpress thema door <a style="text-decoration: none" href="https://kokokoding.nl" target="_blank" rel="noopener">Koko Koding</a>
        </span>
                
    </div>
</footer><!-- #colophon -->
