<header id="branding" role="banner">
    
      <div id="inner-header-wrap">
        
        <div id="inner-header" class="clearfix">
        
            <div id="site-heading">
                <div id="site-title"><a href="{{ '/' | url }}" title="Administratiekantoor Henk Roor" rel="home">Administratiekantoor Henk Roor</a></div>
            </div>
            
            <div id="social-media" class="clearfix">
            </div><!-- .social-media -->
    </div>
      </div>
      
      <nav id="access" role="navigation">
          <div id="inner-nav">
            <h1 class="assistive-text section-heading">Main menu</h1>
            <div class="skip-link screen-reader-text"><a href="{{ '/' | url }}#content" title="Skip to content">Skip to content</a></div>
            <div class="menu">
              <ul id="menu-main" class="menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home{% if page.url == '/' %} current-menu-item page_item current_page_item{% endif %}">
                  <a title="Administratiekantoor Henk Roor" href="{{ '/' | url }}"{% if page.url == '/' %} aria-current="page"{% endif %}>Administratiekantoor Henk Roor</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page{% if '/over-ons/' in page.url %} current-menu-item current_page_item{% endif %}">
                  <a title="Over ons" href="{{ '/over-ons/' | url }}">Over ons</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page{% if '/financiele-administratie/' in page.url %} current-menu-item current_page_item{% endif %}">
                  <a title="Financiële administratie" href="{{ '/financiele-administratie/' | url }}">Financiële administratie</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page{% if '/salarisadministratie/' in page.url %} current-menu-item current_page_item{% endif %}">
                  <a title="Salarisadministratie" href="{{ '/salarisadministratie/' | url }}">Salarisadministratie</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page{% if '/startende-ondernemers/' in page.url %} current-menu-item current_page_item{% endif %}">
                  <a title="Startende ondernemers" href="{{ '/startende-ondernemers/' | url }}">Startende ondernemers</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page{% if '/netwerken/' in page.url %} current-menu-item current_page_item{% endif %}">
                  <a title="Netwerken" href="{{ '/netwerken/' | url }}">Netwerken</a>
                </li>
              </ul>
            </div>
          </div>
      </nav><!-- #access -->
      
</header><!-- #branding -->
