<div id="sidebar" class="widget-area col300" role="complementary">

<aside id="media_image-2" class="widget-odd widget-first widget-1 widget-logo widget widget_media_image">
<div class="wp-caption alignnone">
<a href="{{ '/' | url }}" rel="noopener">
<img class="image widget-logo__image" src="{{ '/wp-content/uploads/2020/05/koffer_zonderrand.jpg' | url }}" alt="Logo Henk Roor Administratiekantoor" width="187" height="89" loading="lazy" />
</a>
<p class="wp-caption-text">Een goede boekhouder verdient zichzelf terug.</p>
</div>
</aside>

<aside id="media_image-3" class="widget-even widget-2 widget widget_media_image">
<img width="184" height="300" src="{{ '/wp-content/uploads/2020/09/Foto-Henk-2020-184x300.jpg' | url }}" class="image wp-image-186 attachment-medium size-medium" alt="Foto van Henk Roor" style="max-width: 100%; height: auto;" loading="lazy" srcset="{{ '/wp-content/uploads/2020/09/Foto-Henk-2020-184x300.jpg' | url }} 184w, {{ '/wp-content/uploads/2020/09/Foto-Henk-2020-628x1024.jpg' | url }} 628w, {{ '/wp-content/uploads/2020/09/Foto-Henk-2020-768x1253.jpg' | url }} 768w, {{ '/wp-content/uploads/2020/09/Foto-Henk-2020-942x1536.jpg' | url }} 942w, {{ '/wp-content/uploads/2020/09/Foto-Henk-2020.jpg' | url }} 963w" sizes="(max-width: 184px) 100vw, 184px" />
</aside>

<aside id="custom_html-2" class="widget_text widget-odd widget-3 widget--contact widget widget_custom_html">
<div class="widget-title">Contactinformatie</div>
<div class="textwidget custom-html-widget">
<p><b>Administratiekantoor Henk Roor</b></p>
<br>
<p><b>Adres:</b></p>
<p>
Achterkerkstraat 107<br>
3901 DA Veenendaal
</p>
<br>
<p><b>Telefoon:</b></p>
<p><a href="tel:0641813767">06-41813767</a></p>
<br>
<p><b>E-mail:</b></p>
<p><a href="mailto:info@henkroor.nl">info@henkroor.nl</a></p>
<br>
<p><b>Route:</b></p>
<a href="https://goo.gl/maps/GTF9PMFXi2amtd9z6" rel="noreferrer noopener" target="_blank">
<div class="picture__container">
<picture class="picture picture--none">
<source srcset="{{ '/wp-content/themes/wp-advocate-child/images/map.webp' | url }}" type="image/webp">
<source srcset="{{ '/wp-content/themes/wp-advocate-child/images/map.jpg' | url }}" type="image/jpeg">
<img class="picture__img" src="{{ '/wp-content/themes/wp-advocate-child/images/map.jpg' | url }}" alt="Een kaart met de locatie van Administratiekantoor Henk Roor">
</picture>
</div>
</a>
</div>
</aside>

<aside id="custom_html-3" class="widget_text widget-even widget-last widget-4 widget widget_custom_html">
<div class="textwidget custom-html-widget">
Website gemaakt door <a href="https://kokokoding.nl" target="_blank" title="Koko Koding" rel="noopener">Koko Koding</a>
</div>
</aside>

</div><!-- #sidebar .widget-area -->
