---
layout: base.njk
title: "Financiële administratie"
permalink: "/financiele-administratie/"
---

### Administratiekantoor Henk Roor neemt u graag werk uit handen.

### Wij verrichten voor u de volgende diensten:

- Financiële administratie, waarbij we gebruikmaken van het de administratieve software van VISMA/MAMUT.
- Opstellen van de Jaarstukken (Verlies- & Winstrekening en de jaarlijkse Balans van Bezittingen en Schulden). In beginsel worden deze stukken geleverd binnen 6 maanden na afloop van het van het kalenderjaar/boekjaar, tenzij u zelf anders verzoekt.
- Verzorgen van aangiften BTW (Omzetbelasting), per maand, kwartaal of jaar.
- Verzorgen van de salarisadministratie en het maandelijks inzenden van de aangiften Loonheffing.
- Verzorgen van de aangifte Inkomstenbelasting, dan wel (voor BV's of stichtingen) de aangifte Vennootschapsbelasting.
- Het indienen en afhandelen van Bezwaarschriften richting Belastingdienst.
- Het opstellen en/of beoordelen van allerhande contracten (arbeidsovereenkomsten, huurcontracten e.d.)
- Overige schriftelijke correspondentie, telefonische werkzaamheden
