---
layout: base.njk
title: "Administratiekantoor Henk Roor | Voor de kleine ondernemer"
permalink: "/"
---

## Administratie voor de kleine ondernemer

**Administratiekantoor Henk Roor** verzorgt administraties voor kleine ondernemers. Tegen redelijke tarieven, waarbij het credo luidt: een goede boekhouder verdient zichzelf terug!

### UW ADRES VOOR:

- *Administraties voor kleine ondernemers en ZZP'ers*
- *Opstellen van Verlies- & Winstrekeningen*
- *Belastingzaken*
- *Begeleiding van startende ondernemers*

**Zoekt u een boekhouder?**
Neem contact op en maak vrijblijvend een afspraak:

- 📞 [0641813767](tel:0641813767)
- 📧 [info@henkroor.nl](mailto:info@henkroor.nl)

---

### CONTACTGEGEVENS:

*Privéadres: Achterkerkstraat 107, 3901 DR Veenendaal*

*Mobiele telefoon: 06-41813767*

**E-mail: [info@henkroor.nl](mailto:info@henkroor.nl)**

<article id="post-6" class="post-6 page type-page status-publish hentry">
	<header class="entry-header">
		<h1 class="entry-title">Administratiekantoor Henk Roor</h1>
	</header><!-- .entry-header -->
    
    <div class="noimg"></div>

	<div class="entry-content post-content">
		<h2>Administratie voor de kleine ondernemer</h2>
<p><strong>Administratiekantoor</strong> <strong>Henk</strong> <strong>Roor </strong>verzorgt administraties voor kleine ondernemers. Tegen redelijke tarieven, waarbij het credo luidt: een goede boekhouder verdient zichzelf terug!</p>
<h3>UW ADRES VOOR:</h3>
<ul id="para" class="para">
<li><em>Administraties voor kleine ondernemers en ZZP’ers</em></li>
<li><em>Opstellen van Verlies- &amp; Winstrekeningen</em></li>
<li><em>Belastingzaken</em></li>
<li><em>Begeleiding van startende ondernemers</em></li>
</ul>
<p class="ul">
<div class="action-call"><strong>Zoekt u een boekhouder?<br />
Neem contact op en maak vrijblijvend een afspraak:</strong></p>
<div class="action-call__buttons"><a class="btn btn--icon" href="tel:0641813767"><i class="icon icon-phone"></i>0641813767</a> <a class="btn btn--icon" href="mailto:info@henkroor.nl"><i class="icon icon-mail"></i>info@henkroor.nl</a></div>
</div>
<hr />
<h3> CONTACTGEGEVENS:</h3>
<p><em>Privéadres: Achterkerkstraat 107, 3901 DR Veenendaal</em></p>
<p><em>Mobiele telefoon: 06-41813767<br />
</em><em><br />
</em><strong>E-mail: <a href="mailto:info@henkroor.nl">info@henkroor.nl</a></strong></p>
		        	</div><!-- .entry-content -->
	
</article>