---
layout: base.njk
title: "Salarisadministratie"
permalink: "/salarisadministratie/"
---

### Houdt uw personeel te vriend

Voor ondernemers met personeel in dienst kan Administratiekantoor Henk Roor op elk moment de noodzakelijke maandelijkse salarisspecificaties leveren, waarbij gebruik wordt gemaakt van het salarisprogramma SALAR. Werknemers willen tijdig kunnen beschikken over hun maandelijkse loonstrook – en gelijk hebben ze. Houdt uw personeel daarom te vriend. Of het nu gaat om vaste krachten met overwerkuren, om parttimers of om omroepkrachten: u levert de basisgegevens, wij draaien! Zo bent u niet afhankelijk van vaak nogal trage externe salarisverwerkingsbedrijven. Uiteraard wordt elke maand de aangifte Loonheffing tijdig ingezonden naar de Belastingdienst, zodat u niet wordt bedolven onder extra administratiekosten en boetes, die het gevolg kunnen zijn van het niet tijdig aanleveren van salarisgegevens.